version: 2.1
jobs:
  build:
    docker:
      - image: ubuntu:latest
    working_directory: ~/pandas-stubs
    steps:
      - run:
          name: Install Pythons
          command: |
            set -x
            apt-get update
            DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata  # necessary due to https://askubuntu.com/q/909277
            apt-get install -y software-properties-common
            add-apt-repository -y ppa:deadsnakes/ppa
            apt-get update
            apt-get install -y build-essential python3-dev
            apt-get install -y --no-install-recommends python3.6 python3.7 python3.8 python3.9
            apt-get install -y --no-install-recommends python3-pip
      - run:
          name: Install git and ssh
          command: apt-get install -y --no-install-recommends git openssh-client
      - checkout
      - run: pip3 install tox
      - run: tox
      - when:
          condition:
            equal: [ "master", << pipeline.git.branch >> ]
          steps:
            - deploy:
                name: init .pypirc
                command: |
                  echo "[pypi]" >> ~/.pypirc
                  echo "username = __token__" >> ~/.pypirc
                  echo "password = $PYPI_TOKEN" >> ~/.pypirc
            - deploy:
                name: Install twine
                command: |
                  pip3 install twine
            - deploy:
                name: Create packages
                command: |
                  python3 setup.py sdist
                  python3 setup.py bdist_wheel
            - deploy:
                name: Upload to pypi
                command: |
                  python3 -m twine upload dist/*